.acpt-row{
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	.acpt-post-block{
		padding: 10px;
	}
	
}

.acpt-one-col { width: 100%; }
.acpt-two-col { width: 50%; }
.acpt-three-col { width: 33.3%; }
.acpt-four-col { width: 25%; }
.acpt-five-col { width: 20%; }
.acpt-six-col { width: 16.6%; }

